.App {
  text-align: center;
}
.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}



.Tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavigationBar {
  background-color: rgb(85, 148, 113);
  color : black;
  align-items: center;
  display : flex;
  justify-content: center;
  align-content: flex;

}
.Acciones{
  align-items: center;
}
